h1 {
    color:rgb(255, 234, 209);
    font-family:'Courier New', Courier, monospace;
}

.liftspace {
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    width: 120px;
    border: transparent;
    background: transparent;
    vertical-align: bottom;
    opacity: 0%;
    position: absolute;
}

.liftspaceclickable {
    font-family: Arial, Helvetica, sans-serif;
    height: 59px;
    width: 220px;
    border: transparent;
    background: transparent;
    vertical-align: bottom;
    opacity: 0%;
    position: absolute
}

#liftA1 {
    top: 0%;
    left: 0%;
}

#liftA2 {
    top: 0%;
    left: 50%;
}

#liftB1 {
    top: 20%;
    left: 0%;
}

#liftB2 {
    top: 20%;
    left: 50%;
}

#liftC1 {
    top: 40%;
    left: 0%;
}

#liftC2 {
    top: 40%;
    left: 50%;
}

#liftD1 {
    top: 60%;
    left: 0%;
}

#liftD2 {
    top: 60%;
    left: 50%;
}

#liftE1 {
    top: 80%;
    left: 0%;
}

#liftE2 {
    top: 80%;
    left: 50%;
}

.liftTable {
    background-image: url(https://i.imgur.com/3XiSvGI.png);
    background-size: contain;
    position: relative;
    height: 296px;
    width: 440px;
}