h1 {
    color:rgb(255, 234, 209);
    font-family:'Courier New', Courier, monospace;
}

table {
    background-color: aliceblue;
}

.liftspace {
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    width: 40px;
    border: transparent;
    background: transparent;
    vertical-align: bottom;
}

.liftTable {
    background-image: url(https://i.imgur.com/3XiSvGI.png);
}

#onBlackBackground {
    color:black;
}

#onWhiteBackground {
    color:rgb(255, 255, 255);
}