td {
    empty-cells: hide;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
}

td:hover {
    color: aliceblue;
}

table {
    border: none;
    margin: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; 
    cursor: pointer;
}

.space {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(255, 248, 240);
    height: 36px;
    width: 40px;
    border: transparent;
    background: transparent;
    vertical-align: bottom;
    opacity: 0;
}

.space:hover {
    color:aliceblue;
}

p{
    font-size: 19px;
    font-family:Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.roomtable{
    background-image: url(https://i.imgur.com/JO1aojB.jpg);
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    height: auto;
}

.inventorycheat {
    color: rgb(95, 31, 8);
    opacity: 0;
}

.italicText {
    font-style: italic;
}

#useItem {
    text-decoration: underline;
    cursor: pointer;
}

#addItem {
    display: inline-block;
    cursor: pointer;
}

#textBeforeAddItem {
    display: inline-block;
}

#empty:hover {
    color:rgb(255, 248, 240);
}

#inventoryDisplay {
    cursor: pointer;
}

#inventory {
    text-align: right;
    padding-right: 50px;
    padding-top: 100px;
}

#inventoryItems {
  text-align: right;
  padding-right: 50px;
  color:rgb(255, 234, 209);
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  position: relative;
  padding-bottom: 20px;
  font-weight: bold;
}

.sidebar {
    background-color: rgb(44, 19, 19);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    width: 250px;
  }

#deskButtons {
    background-color: #e7e7e7; 
    color: black;
    font-size: 19px;
    padding: 10px 24px;
    border-radius: 12px;
    cursor: pointer;
}
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
    .flavourtext {font-size: 16px};
    .commenttext {font-size: 16px;}
    .roomtable {overflow-x: auto};
    .room {overflow-x: auto};
  }

  .room {
    position: relative;
  }

  #body {
    margin-right: 250px;
  }

  .holdItem {
    opacity: 0;
  }