td {
    empty-cells: hide;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;

}

table {
    border: none;
    margin: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; 
}

.space {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 248, 240);
    height: 36px;
    width: 40px;
    border: transparent;
    background: transparent;
    vertical-align: bottom;
}

p{
    font-size: 19px;
    font-family:'Courier New', Courier, monospace;
    color: aliceblue;
}

.flavourtext a {
    color: rgb(255, 234, 209);
}

.roomtable{
    background-image: url(https://i.imgur.com/yCheMVB.png);
}
.inventorycheat {
    color: #944500;
}

#useItem {
    text-decoration: underline;
}

#addItem {
    display: inline-block;
}

#textBeforeAddItem {
    display: inline-block;
}