.space1 {
    height: 48px;
    width: 50px;
    border: transparent;
    background: transparent;
    vertical-align: bottom;
    opacity: 0;
    cursor: pointer;
}

.space2 {
    height: 48px;
    width: 100px;
    border: transparent;
    background: transparent;
    vertical-align: bottom;
    opacity: 0;
    cursor: pointer;
}

.space3 {
    height: 48px;
    width: 150px;
    border: transparent;
    background: transparent;
    vertical-align: bottom;
    opacity: 0;
    cursor: pointer;
}

.space4 {
    height: 48px;
    width: 200px;
    border: transparent;
    background: transparent;
    vertical-align: bottom;
    opacity: 0;
    cursor: pointer;
}

.space5 {
    height: 48px;
    width: 250px;
    border: transparent;
    background: transparent;
    vertical-align: bottom;
    opacity: 0;
    cursor: pointer;
}

.space6 {
    height: 48px;
    width: 300px;
    border: transparent;
    background: transparent;
    vertical-align: bottom;
    opacity: 0;
    cursor: pointer;
}

#emptyA1 {
    position: absolute;
    top: 0;
    left: 0;
}

#costumestandA3 {
    position: absolute;
    top: 0;
    left: 11.11%;
}

#emptyA6 {
    position: absolute;
    top: 0;
    left: 27.78%;
}

#chemtableA8 {
    position: absolute;
    top: 0;
    left: 38.89%;
}

#emptyA13 {
    position: absolute;
    top: 0;
    left: 66.67%;
}

#deskA16 {
    position: absolute;
    top: 0;
    left: 83.33%;
}

#pcA17 {
    position: absolute;
    top: 0;
    left: 88.89%;
}

#glasscaseB1 {
    position: absolute;
    top: 10%;
    left: 0;
}

#emptyB2 {
    position: absolute;
    top: 10%;
    left: 5.56%;
}

#chemtableB8 {
    position: absolute;
    top: 10%;
    left: 38.89%;
}

#emptyB13 {
    position: absolute;
    top: 10%;
    left: 66.67%;
}

#deskB16 {
    position: absolute;
    top: 10%;
    left: 83.33%;
}

#pcB17 {
    position: absolute;
    top: 10%;
    left: 88.89%;
}

#glasscaseC1 {
    position: absolute;
    top: 20%;
    left: 0;
}

#emptyC2 {
    position: absolute;
    top: 20%;
    left: 5.56%;
}

#robothandC3 {
    position: absolute;
    top: 20%;
    left: 11.11%;
}

#emptyC5 {
    position: absolute;
    top: 20%;
    left: 22.22%;
}

#emptyC11 {
    position: absolute;
    top: 20%;
    left: 55.56%;
}

#deskC16 {
    position: absolute;
    top: 20%;
    left: 83.33%;
}

#worldmapC17 {
    position: absolute;
    top: 20%;
    left: 88.89%;
}

#emptyD1 {
    position: absolute;
    top: 30%;
    left: 0;
}

#invisiblebarrierD7 {
    position: absolute;
    top: 30%;
    left: 33.33%;
}

#emptyD13 {
    position: absolute;
    top: 30%;
    left: 66.67%;
}

#deskD16 {
    position: absolute;
    top: 30%;
    left: 83.33%;
}

#worldmapD17 {
    position: absolute;
    top: 30%;
    left: 88.89%;
}

#emptyE1 {
    position: absolute;
    top: 40%;
    left: 0;
}

#invisiblebarrierE7 {
    position: absolute;
    top: 40%;
    left: 33.33%;
}

#chairE8 {
    position: absolute;
    top: 40%;
    left: 38.89%;
}

#coiledropeE10 {
    position: absolute;
    top: 40%;
    left: 50.00%;
}

#invisiblebarrierE12 {
    position: absolute;
    top: 40%;
    left: 61.11%;
}

#emptyE13 {
    position: absolute;
    top: 40%;
    left: 66.67%;
}

#deskE16 {
    position: absolute;
    top: 40%;
    left: 83.33%;
}

#worldmapE17 {
    position: absolute;
    top: 40%;
    left: 88.89%;
}

#liftdoorF1 {
    position: absolute;
    top: 50%;
    left: 0;
}

#emptyF2 {
    position: absolute;
    top: 50%;
    left: 5.56%;
}

#trapdoorF3 {
    position: absolute;
    top: 50%;
    left: 11.11%;
}

#emptyF5 {
    position: absolute;
    top: 50%;
    left: 22.22%;
}

#invisiblebarrierF7 {
    position: absolute;
    top: 50%;
    left: 33.33%;
}

#emptyF13 {
    position: absolute;
    top: 50%;
    left: 66.67%;
}

#liftdoorG1 {
    position: absolute;
    top: 60%;
    left: 0;
}

#emptyG2 {
    position: absolute;
    top: 60%;
    left: 5.56%;
}

#trapdoorG3 {
    position: absolute;
    top: 60%;
    left: 11.11%;
}

#emptyG5 {
    position: absolute;
    top: 60%;
    left: 22.22%;
}

#nexttobedG9 {
    position: absolute;
    top: 60%;
    left: 44.44%;
}

#emptyG14 {
    position: absolute;
    top: 60%;
    left: 72.23%;
}

#bookcaseG17 {
    position: absolute;
    top: 60%;
    left: 88.89%;
}

#emptyH1 {
    position: absolute;
    top: 70%;
    left: 0;
}

#emptyH5 {
    position: absolute;
    top: 70%;
    left: 22.22%;
}

#nexttobedH8 {
    position: absolute;
    top: 70%;
    left: 38.89%;
}

#bedH9 {
    position: absolute;
    top: 70%;
    left: 44.44%;
}

#nexttobedH14 {
    position: absolute;
    top: 70%;
    left: 72.23%;
}

#emptyH15 {
    position: absolute;
    top: 70%;
    left: 77.78%;
}

#bookcaseH17 {
    position: absolute;
    top: 70%;
    left: 88.89%;
}

#emptyI1 {
    position: absolute;
    top: 80%;
    left: 0;
}

#emptyI5 {
    position: absolute;
    top: 80%;
    left: 22.22%;
}

#nexttobedI8 {
    position: absolute;
    top: 80%;
    left: 38.89%;
}

#bedI9 {
    position: absolute;
    top: 80%;
    left: 44.44%;
}

#nexttobedI14 {
    position: absolute;
    top: 80%;
    left: 72.23%;
}

#emptyI15 {
    position: absolute;
    top: 80%;
    left: 77.78%;
}

#bookcaseI17 {
    position: absolute;
    top: 80%;
    left: 88.89%;
}

#emptyJ1 {
    position: absolute;
    top: 90%;
    left: 0;
}

#stalkerpicturesJ2 {
    position: absolute;
    top: 90%;
    left: 5.56%;
}

#emptyJ7 {
    position: absolute;
    top: 90%;
    left: 33.33%;
}

#nexttobedJ8 {
    position: absolute;
    top: 90%;
    left: 38.89%;
}

#bedJ9 {
    position: absolute;
    top: 90%;
    left: 44.44%;
}

#nexttobedJ14 {
    position: absolute;
    top: 90%;
    left: 72.23%;
}

#emptyJ15 {
    position: absolute;
    top: 90%;
    left: 77.78%;
}

#bookcaseJ17 {
    position: absolute;
    top: 90%;
    left: 88.89%;
}

p{
    font-size: 19px;
    font-family:Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.roomtable{
    background-image: url(https://i.imgur.com/JO1aojB.jpg);
    padding: 0px;
    margin: 0px;
    width: 900px;
    height: 486px;
    position: relative;
    background-size: contain;
    margin-right: 250px;
    cursor: pointer;
}

.italicText {
    font-style: italic;
}

#useItem {
    text-decoration: underline;
    cursor: pointer;
}

#addItem {
    display: inline-block;
    cursor: pointer;
}

#textBeforeAddItem {
    display: inline-block;
}

#empty:hover {
    color:rgb(255, 248, 240);
}

#inventoryDisplay {
    cursor: pointer;
}

#inventory {
    text-align: right;
    padding-right: 50px;
    padding-top: 100px;
}

#inventoryItems {
  text-align: right;
  padding-right: 50px;
  color:rgb(255, 234, 209);
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  position: relative;
  padding-bottom: 20px;
  font-weight: bold;
}

.sidebar {
    background-color: rgb(44, 19, 19);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    height: 100%;
    right: 0;
    width: 250px;
  }

#deskButtons {
    background-color: #e7e7e7; 
    color: black;
    font-size: 19px;
    padding: 10px 24px;
    border-radius: 12px;
    cursor: pointer;
}

#body {
    margin-right: 250px;
  }

  
  @media screen and (max-height: 850px) {
    .sidebar {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 17%;
        overflow: hidden;
        position: fixed;
    }
    .sidebar a {font-size: 18px;}
    .flavourtext {font-size: 17px};
    .commenttext {
        font-size: 17px;
        margin-right: 0;
        width: 100%;
    }
    .roomtable {
        overflow-x: auto;
        margin-right: 0;
    };
    .room {overflow-x: auto};
    #body {
        margin-right: 0px;
    }
    #inventory {
        text-align: left;
        padding-left: 50px;
        font-size: 18px;
        padding-top: 10px;
    }
    #inventoryItems {
        text-align: left;
        padding-left: 50px;
        font-size: 17px;
        padding-bottom: 5px;
    }
    .room {
        margin-bottom: 17%;
    }

  }

  .room {
    position: relative;
  }

  .holdItem {
    opacity: 0;
  }