h1 {
    color:rgb(255, 234, 209);
    font-family:'Courier New', Courier, monospace;
}

.computerTable {
    background-image: url(https://i.imgur.com/NkIaoiA.png);
}

#computerTable {
    position: relative;
}

.computerSpace {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
    height: 36px;
    width: 40px;
    border: transparent;
    background: transparent;
    vertical-align: bottom;
    cursor: pointer;
}

#computerSpaceA1 {
    position: absolute;
    top: 0;
    left: 0;
}

#computerSpaceA2 {
    position: absolute;
    top: 0;
    left: 20%;
}

#computerSpaceA3 {
    position: absolute;
    top: 0;
    left: 40%;
}

#computerSpaceA4 {
    position: absolute;
    top: 0;
    left: 60%;
}

#computerSpaceA5 {
    position: absolute;
    top: 0;
    left: 80%;
}

#computerSpaceB1 {
    position: absolute;
    top: 20%;
    left: 0;
}

#computerSpaceB2 {
    position: absolute;
    top: 20%;
    left: 20%;
}

#computerSpaceB3 {
    position: absolute;
    top: 20%;
    left: 40%;
}

#computerSpaceB4 {
    position: absolute;
    top: 20%;
    left: 60%;
}

#computerSpaceB5 {
    position: absolute;
    top: 20%;
    left: 80%;
}

#computerSpaceC1 {
    position: absolute;
    top: 40%;
    left: 0;
}

#computerSpaceC2 {
    position: absolute;
    top: 40%;
    left: 20%;
}

#computerSpaceC3 {
    position: absolute;
    top: 40%;
    left: 40%;
}

#computerSpaceC4 {
    position: absolute;
    top: 40%;
    left: 60%;
}

#computerSpaceC5 {
    position: absolute;
    top: 40%;
    left: 80%;
}

#computerSpaceD1 {
    position: absolute;
    top: 60%;
    left: 0;
}

#computerSpaceD2 {
    position: absolute;
    top: 60%;
    left: 20%;
}

#computerSpaceD3 {
    position: absolute;
    top: 60%;
    left: 40%;
}

#computerSpaceD4 {
    position: absolute;
    top: 60%;
    left: 60%;
}

#computerSpaceD5 {
    position: absolute;
    top: 60%;
    left: 80%;
}

#computerSpaceE1 {
    position: absolute;
    top: 80%;
    left: 0;
}

#computerSpaceE2 {
    position: absolute;
    top: 80%;
    left: 20%;
}

#computerSpaceE3 {
    position: absolute;
    top: 80%;
    left: 40%;
}

#computerSpaceE4 {
    position: absolute;
    top: 80%;
    left: 60%;
}

#computerSpaceE5 {
    position: absolute;
    top: 80%;
    left: 80%;
}