h1 {
    color:rgb(255, 234, 209);
    font-family:'Courier New', Courier, monospace;
}

.computerTable {
    background-image: url(https://i.imgur.com/NkIaoiA.png);
}

.computerSpace {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
    height: 36px;
    width: 40px;
    border: transparent;
    background: transparent;
    vertical-align: bottom;
    cursor: pointer;
}

#computerSpaceA1 {
    position: absolute;
    top: 0;
    left: 0;
}

#computerSpaceA2 {
    position: absolute;
    top: 0;
    left: 40px;
}

#computerSpaceA3 {
    position: absolute;
    top: 0;
    left: 80;
}

#computerSpaceA4 {
    position: absolute;
    top: 0;
    left: 120px;
}

#computerSpaceA5 {
    position: absolute;
    top: 0;
    left: 160;
}

#computerSpaceB1 {
    position: absolute;
    top: 36px;
    left: 0;
}

#computerSpaceB2 {
    position: absolute;
    top: 36px;
    left: 40px;
}

#computerSpaceB3 {
    position: absolute;
    top: 36px;
    left: 80;
}

#computerSpaceB4 {
    position: absolute;
    top: 36px;
    left: 120px;
}

#computerSpaceB5 {
    position: absolute;
    top: 36px;
    left: 160;
}